@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
:root {
    --main-nav-bg: #253D5B;
    --main-text-hover: #FFC30C;
    --main-text-color: white;
    --main-secondary-header: #20C997;
    --main-overlay-color: rgba(37,61,91, .6);
    --main-font-size: 16px;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav-container{
    width: 100%;
    background-color: var(--main-nav-bg);
}
.header-contacts{
    position: relative;
    z-index: 999;
    color: var(--main-text-hover);
    padding: 0.rem;
}
.contacts-list {
    display: flex;
    justify-content: center;
}
.contacts-list li{
    list-style: none;
    display: inline;
    margin: 0.1rem 0.5rem;
   
}
ul.contacts-list{
    margin-bottom: 0;
}
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--main-text-color);
    background-color: var(--main-nav-bg);
    z-index: 999;
    width: 100%;
    margin: 0 auto;
  }
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav.nav-logo{
    height: 120px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    font-size: var(--main-font-size);
}
.links li{
    display: inline;
    list-style: none;
    color: var(--main-text-hover);
}
.links a.email{
    text-decoration: none;
    color: var(--main-text-hover);
}
.links a:hover{
    color:var(--main-text-hover);
}
.links a:target{
    color:var(--main-text-hover);
}
.links a{
    font-size: var(--main-font-size);
    text-decoration: none;
    color: var(--main-text-color);
}
section.centred{
    color: var(--main-text-color);
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateY(-50px);
    
}
.highlight{
    color: var(--main-text-hover);
}
.main-title a{
    margin: 15px 5px;
    text-transform: uppercase;
}
.main-title h1,h5{
    margin: 2rem 0;
}
.main-title .company-slogan{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.main-page {
    background-image: url('../assets/istockphoto-1304074409-1024x1024.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
.main-page::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-overlay-color);
  }
  .about{
    margin: 1.5rem 0;
    padding: 1.5rem;
    background-color: var(--main-text-color);
 
  }
  .about-company h2{
    color: var(--main-text-secondary);
  }
  .t-white{
    color: var(--main-text-color);
  }
.renewable-energy{
    height: 100vh;
}
.fade-in {
    opacity: 0;
    transform: translateX(-200px);
  
  }
 .fade-in.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease-in;
  } 

.motivation{
    position: relative;
    color: var(--main-text-color);
    z-index: 999;
}
.nav-logo{
    height: 60px;
}
.services section:first-child{
    background-color: var(--main-secondary-header);
}
.services{
    scroll-margin-top: 90px;
}
.services section{
    background-color: var(--main-nav-bg);
    height: 46vh;
}
.secondary-header{
    color: var(--main-secondary-header);
    border-bottom: 1px solid var(--main-secondary-header);
}
.accredetations img{
    margin: 0.5rem;
    height: 50px;
}
.renewable{
    height: 100%;
    display: flex;
}
 .services-img{
    width: 50%;
    height: 100%;
}
.services-img.image-side{
    order: 2;
}
.services-list{
    width: 50%;
    color: var(--main-text-color);
    margin-top: 4rem;
    padding-left: 5%;
}
.services-list ul{
    width: 80%;
}
.services-list ul li {
    list-style: none;
    background-image: url('../assets/Fire_fill.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    line-height: 1.5;
    font-weight: 600;
}
.packages{
    
}
.package-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.packages .card{
    height: 50%;
}
ul#services-list.list > li{

    background-image: url('../assets/icons8-energy.png');
}
ul.list{
    padding-left: 0;
    margin-bottom: 2rem;
}
.btn.btn-outline-warning.green {
    /* Add your custom styles here */
    color: var(--main-secondary-header);
    border-color: var(--main-secondary-header);
  }
.btn.btn-outline-warning.green:hover {
    /* Hover styles */
    background-color: var(--main-secondary-header);
    color: white;
  }
.btn.btn-outline-warning.blue {
    /* Add your custom styles here */
    color: var(--main-nav-bg);
    border-color: var(--main-nav-bg);
  }
.btn.btn-outline-warning.blue:hover {
    /* Hover styles */
    background-color: var(--main-nav-bg);
    color: white;
  }
.third-header{
    color: #FFC30C;
    border-bottom: 1px solid #FFC30C;
   
}
.btn.btn-outline-warning.white{
    color: var(--main-secondary-header);
    border-color: var(--main-secondary-header);
    margin-top: 2rem;
    
}
.btn.btn-outline-warning.white:hover{
    color: var(--main-text-color);
    background-color: var(--main-secondary-header);
}
section.projects{
    height: 100vh;
    padding-top: 2rem;
    background-color: var(--main-text-color);
    scroll-margin-top: 90px;
}
section.contact-form{
    height: 70vh;
    padding: 1.5rem 0;
    background-color: var(--main-nav-bg);
}
footer{
    background-color: var(--main-nav-bg);
    border-top: 1px solid var(--main-text-hover);
}
.form-contact-us{
    max-width: 500px;
    margin: 1rem auto;
    padding: 1.5rem;
    color: white;
    background-color: #FFC30C;
}

.form-contact-us .form-group{
    padding-top: 1rem;
    text-align: left;
}
.form-contact-us{
    text-align: center;
}
.footer{
    color: white;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.works{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    position: relative;
}
.card-overlay{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-overlay-color);
    opacity: 0;
    transition: opacity .5s ease;
}
.packages{
    height: 95vh;
    padding-top: 1.5rem ;
}
.card-overlay>div>p {
    color: white;
}
.card:hover .card-overlay {
    display: flex; 
    opacity: 1;
  }
.finance{
    padding-top: 1.5rem;
    height: 100vh;
    background-color: var(--main-nav-bg);
    color: var(--main-text-color);
    text-align: justify;
    scroll-margin-top: 90px;
}
.contact-form{
}
  @keyframes fadeIn {

    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 480px) {
    .finance{
        height: 100%;
    }
    section.projects{
        height: 100%;
    }
    .renewable{
        display: inline-block;
    }
    .services section{
        height: 100%;
    }
    .services-img{
        width: 100%;
    }
    .services-list{
        width: 100%;
        margin: 1rem 0;
    }
    .nav{
        display: flex;
        justify-content: center;
    }
    .finance{
        padding: 1rem 0;
    }
  
    .form-contact-us .form-group{
        padding-top: 0.2rem;
        text-align: left;
    }
    img.nav-logo{
        transition: transform 0.5s ease-in-out;
    }
    .main-page {
        background-position: 70% center;
        -webkit-background-position: 70% center; /* Safari */
        -moz-background-position: 70% center; /* Firefox */
        -o-background-position: 70% center; /* Opera */
        background-position: 70% center; 
      }
    section.centred{
        padding-top: 50%;
    }
    
  }
  .feedback{
    background-color: #FFC30C;
    color: white;
    display: none;
  }
.show{
    display: inline;
  }
.benefits{
    width: 100%;
}
.benefits>div{

}
.benefit-body{
    width: 40%;
}


